body {
    background-color: rgb(226, 226, 226);
}

.main {
    position: absolute;
    left: 50%;
    width: 1200px;
    height: 1900px;
    transform: translate(-50%);
}

.head {
    display: inline-block;
    width: 100%;
    height: 450px;
    background-image: url("assets/images/note.jpg");
    border-radius: 10px;
    margin-bottom: 5px;
}

.main_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 700px;
}

.developer_info {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.developer_info > span {
    color: rgb(240, 240, 240);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 6em;
    text-shadow: 4px 0 10px rgba(0,0,0,1);
}

.developer_info > span:last-child {
    font-family: 'Antic Slab', serif;
    font-size: 3.5em;
    margin-left: 50px;
    margin-top: 25px;
}

.name {
    margin-top: 40px;
    margin-left: 50px;
    animation: move_right 1s forwards;
}

.surname {
    margin-top: -10px;
    margin-left: 170px;
    animation: move_left 1s forwards;
}

.left_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

.right_content {
    width: 68%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}

.image_content {
    margin-top: 10%;
    width: 100%;
}

.right_content > div:nth-child(n + 1) {
    position: absolute;
    top: 531px;
    width: 68%;
    height: 625px;
    border-radius: 10px;
    opacity: 0;
    background-color: white;
}


.list_first {
    text-align: center;
    width: 12%;
    color: #6CCA62;
    position: absolute;
    font-size: 2em;
    left: 34%;
    top: 475px;
    font-size: 1.5em;
    border: 1px solid grey;
    border-radius: 15px;
}

.list_second {
    text-align: center;
    width: 12%;
    color: #6CCA62;
    position: absolute;
    font-size: 2em;
    left: 47%;
    top: 475px;
    font-size: 1.5em;
    border: 1px solid grey;
    border-radius: 15px;
}

.list_third {
    text-align: center;
    width: 12%;
    color: #6CCA62;
    position: absolute;
    font-size: 2em;
    left: 60%;
    top: 475px;
    font-size: 1.5em;
    border: 1px solid grey;
    border-radius: 15px;
}

.list_fourth {
    text-align: center;
    width: 12%;
    color: #6CCA62;
    position: absolute;
    font-size: 2em;
    left: 73%;
    top: 475px;
    font-size: 1.5em;
    border: 1px solid grey;
    border-radius: 15px;
}

.list_fifth {
    text-align: center;
    width: 12%;
    color: #6CCA62;
    position: absolute;
    left: 86%;
    top: 475px;
    font-size: 1.5em;
    border: 1px solid grey;
    border-radius: 15px;
}

.right_content p {
    margin: 10px;
}

.right_content h2 {
    margin: 5px;
}

.list_first:hover + .list_second + .list_third + .list_fourth 
    + .list_fifth + .right_content > .list_content_one  {
    z-index: 99;
    animation: show 0.5s forwards;
}

.list_second:hover + .list_third + .list_fourth 
    + .list_fifth + .right_content > .list_content_two {
    z-index: 99;
    animation: show 0.5s forwards;
}

.list_third:hover + .list_fourth 
    + .list_fifth + .right_content > .list_content_three {
    z-index: 99;
    animation: show 0.5s forwards;
}

.list_fourth:hover + .list_fifth + .right_content > .list_content_four {
    z-index: 99;
    animation: show 0.5s forwards;
}

.list_fifth:hover + .right_content > .list_content_five {
    z-index: 99;
    animation: show 0.5s forwards;
}

.hard_skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 59%;
    background-color: white;
    border-radius: 10px;
}

.lang {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.lang > img {
    width: 60px;
}

.soft > img {
    margin: auto;
    margin-left: 10px;
    height: 45px;
    width: 45px;
}


.technology {
    color: #6CCA62;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slide {
    margin: auto;
    width: 15px;
    height: 40px;
    background-color: #6CCA62;
    margin-bottom: 5px;
    animation: show 2s;
}

.soft_skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 59%;
    background-color: white;
    border-radius: 10px;
}

.soft {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 10px;  
}

.lang > span:nth-child(2) {
    height: 15px;
}

.lang > span:nth-child(3) {
    height: 20px;
}

.lang > span:nth-child(4) {
    height: 25px;
}

.lang > span:nth-child(5) {
    height: 35px;
}

.lang > span:nth-child(6) {
    height: 45px;
}

.soft > span:nth-child(2) {
    height: 15px;
}

.soft > span:nth-child(3) {
    height: 20px;
}

.soft > span:nth-child(4) {
    height: 25px;
}

.soft > span:nth-child(5) {
    height: 35px;
}

.soft > span:nth-child(6) {
    height: 45px;
}

.lang:nth-child(3) > span:nth-child(5) {
    background-color: white;
}

.lang:nth-child(3) > span:nth-child(6) {
    background-color: white;
}

.lang:nth-child(4) > span:nth-child(6) {
    background-color: white;
}

.lang:nth-child(5) > span:nth-child(5) {
    background-color: white;
}


.lang:nth-child(5) > span:nth-child(6) {
    background-color: white;
}

.lang:nth-child(6) > span:nth-child(5) {
    background-color: white;
}

.lang:nth-child(6) > span:nth-child(6) {
    background-color: white;
}

.lang:nth-child(6) > span:nth-child(4) {
    background-color: white;
}

.soft_skills {
    background-color: white;
    width: 100%;
    height: 40%;
    border-radius: 10px;
}

.footer {
    display: flexbox;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 750px;
}

.footer > img:first-child {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    width: 30%;
}

.footer > img:nth-child(2) {
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    width: 40%;

}

.footer_list {
    border: 1px solid red;
    width: 100%;
    height: 300px;
    float: left;
}

.first_list {
    list-style-type: none;
    border: 1px solid blue;
    width: 100px;
    color: #6CCA62;
}

.first_list > ul {
    position: absolute;
    left: 0;
    border: 1px solid black;
    
}

.first_list > ul:nth-child(2) {
    margin-top: 15px;
}

.lang:hover {
    animation: shadow 0.5s forwards;
}

.soft:hover {
    animation: shadow 0.5s forwards;
}

@media screen and (max-width: 1220px) {
    .main {
        width: 98%;
    }
}

@keyframes shadow {
    100% {
        box-shadow: 4px 0 10px rgba(0,0,0,1);
    }
}

@keyframes show {
    0%   { opacity: 0;}
    100% { opacity: 100%;}
}

@keyframes move_right {
    0%   { transform: translateX(-200px); }
    100% { transform: translateX(0px); }
}

@keyframes move_left {
    0%   { transform: translateX(200px); }
    100% { transform: translateX(0px); }
}