body {
    background-color: rgb(226, 226, 226);
}

.main {
    position: absolute;
    left: 50%;
    width: 1200px;
    height: 1500px;
    /* border: 1px solid red; */
    transform: translate(-50%);
}

.head {
    display: inline-block;
    width: 100%;
    height: 450px;
    background-image: url("assets/images/note.jpg");
    border-radius: 10px;
    margin-bottom: 5px;
}

.main_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    background-color: greenyellow;
}

.developer_info {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */
}

.developer_info > span {
    color: rgb(240, 240, 240);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 6em;
    text-shadow: 4px 0 10px rgba(0,0,0,1);
}

.developer_info > span:last-child {
    font-family: 'Antic Slab', serif;
    font-size: 3.5em;
    margin-left: 50px;
    margin-top: 25px;
}

.name {
    margin-top: 40px;
    margin-left: 50px;
}

.surname {
    margin-top: -10px;
    margin-left: 170px;
}

.left_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    /* background-color: hotpink; */
}

.right_content {
    width: 68%;
    height: 100%;
    border-radius: 10px;
    background-color: blueviolet;
}

.hard_skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 59%;
    background-color: white;
    border-radius: 10px;
}

.lang {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.lang > img {
    width: 60px;
}

.soft > img {
    margin: auto;
    margin-left: 10px;
    height: 45px;
    width: 45px;
}

.technology {
    color: #6CCA62;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slide {
    margin: auto;
    width: 15px;
    height: 40px;
    background-color: #6CCA62;
    border: 1px solid black;
    margin-bottom: 5px;
    animation: show 2s;
}

.soft_skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 59%;
    background-color: white;
    border-radius: 10px;
}

.soft {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 10px;  
}

.lang > span:nth-child(2) {
    height: 15px;
}

.lang > span:nth-child(3) {
    height: 20px;
}

.lang > span:nth-child(4) {
    height: 25px;
}

.lang > span:nth-child(5) {
    height: 35px;
}

.lang > span:nth-child(6) {
    height: 45px;
}

.soft > span:nth-child(2) {
    height: 15px;
}

.soft > span:nth-child(3) {
    height: 20px;
}

.soft > span:nth-child(4) {
    height: 25px;
}

.soft > span:nth-child(5) {
    height: 35px;
}

.soft > span:nth-child(6) {
    height: 45px;
}

.lang:nth-child(3) > span:nth-child(5) {
    background-color: white;
}

.lang:nth-child(3) > span:nth-child(6) {
    background-color: white;
}

.lang:nth-child(4) > span:nth-child(6) {
    background-color: white;
}

.lang:nth-child(5) > span:nth-child(5) {
    background-color: white;
}


.lang:nth-child(5) > span:nth-child(6) {
    background-color: white;
}

.lang:nth-child(6) > span:nth-child(5) {
    background-color: white;
}

.lang:nth-child(6) > span:nth-child(6) {
    background-color: white;
}

.lang:nth-child(6) > span:nth-child(4) {
    background-color: white;
}

.soft_skills {
    background-color: white;
    width: 100%;
    height: 40%;
    border-radius: 10px;
}

.footer {
    margin-top: 10px;
    background-color: brown;
    width: 100%;
    height: 335px;
}

.lang:hover {
    animation: shadow 0.5s forwards;
}

.soft:hover {
    animation: shadow 0.5s forwards;
}

@media screen and (max-width: 1220px) {
    .main {
        width: 98%;
    }
}

@keyframes shadow {
    100% {
        box-shadow: 4px 0 10px rgba(0,0,0,1);
    }
}

@keyframes show {
    0%   { opacity: 0;}
    100% { opacity: 100%;}
}


